<div class="grid-container">
  <div class="grid-item" id="chart1">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartsOption5"
    ></highcharts-chart>
  </div>

  <div class="grid-item" id="chart2">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartsOption1"
    ></highcharts-chart>
  </div>
  <div class="grid-item" id="chart3">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartsOption2"
    ></highcharts-chart>
  </div>

  <div class="grid-item" id="chart4">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartsOption3"
    ></highcharts-chart>
  </div>
</div>
